<ion-header>
  <ion-toolbar class="toolbar" color="primary">
    <ion-title>
      {{"tab1" | translate}}
    </ion-title>
    <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="card" (click)="verAyudaFeed(titulo,subtitulo,descripcion)">
      <ion-img src="/assets/imgs/comidapez.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>{{"feed" | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p >{{"feedtip" | translate}}</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="card" (click)="verAyudaClean(titulo,subtitulo,descripcion)">
      <ion-img src="/assets/imgs/limpiarpez.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>{{"clean" | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{"cleantip" | translate}}</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="card" (click)="verAyudaCares(titulo,subtitulo,descripcion)">
      <ion-img src="/assets/imgs/cuidadospez.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>{{"cares" | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{"carestip" | translate}}</p>
      </ion-card-content>
    </ion-card>
</ion-content>
