<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="color:var(--ion-color-text)!important">{{"data" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-title style="color:var(--ion-item-color)!important; margin-top: 20px">{{nombre}}</ion-title>
    <ion-img #miimagen style="color:var(--ion-item-color)!important; margin-top: 20px"></ion-img> 
    <ion-button shape="round" color="danger" type="submit" (click)="presentAlertConfirm(id)">{{"remove" | translate}}<ion-icon name="trash"></ion-icon></ion-button>
    <ion-button expand="full" shape="round" style="margin-top: 95px; color:var(--ion-color-text)!important;" (click)="dismiss()">{{"ok" | translate}}</ion-button>
   
</ion-content>
